<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header style="justify-content: center;">
      <mat-card-title>Inicio de Sesión</mat-card-title>
      <mat-card-subtitle>Ingresa tus credenciales para continuar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" style="margin-top: 20px;">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="ejemplo@correo.com">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Ingresa un correo válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="login-button">
            INICIAR SESIÓN
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
